{% extends 'posts/base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="">
      <a class="flex flex-row justify-self-end" href="{% url 'home' %}">
        <p class="">Go back home</p>
      </a>
      <dt class="text-green-700 font-semibold text-xl">
        No matter how good you are, if you're in a wrong place,you're
        <dfn>worthless</dfn>
      </dt>
    </div>
  </body>
</html>
{% endblock %}
